<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".LanguageSelection"
            android:exported="true" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCT4UpuxeGfa6GW9Hj59V0ZfsT8ZrlnaJY" />
        <activity
            android:name=".EnglishMainActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianVisitedCounterActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianMainActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianMapsActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianContactActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianJachklubasActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianPazaislioActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianSuneliskiuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianLakstingaluActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianRegioninisActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianGastilioniuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianMeilesActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianStovyklaActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianRumsiskiuMuziejusActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianRumsiskiuPrieplaukaActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianKapitoniskiuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianMergakalnioActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianKruonioActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianLaumenuTakasActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianPakalniskiuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianSkulpturuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianZiegzdriuActivity"
            android:exported="true" />
        <activity
            android:name=".LithuanianZiglosActivity"
            android:exported="true" />
        <activity
            android:name=".AllObjectsListActivity"
            android:exported="true" />
    </application>

</manifest>